* {
    font-family: 'Uni Neue', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: inherit;
}

body {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
}


.container {
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
}

@keyframes toRight {
    0% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}